$dropdown-font-color: var(--white);

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    .dropdown {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      color: $dropdown-font-color;
      font-size: .8rem;

      img {
        width: 1.5rem;
        border-radius: 50%;
      }
    }
  }
}
