* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

li,
button {
  cursor: pointer;
}

body {
  background: #151820;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  padding: 3rem 0.5rem 0 3rem;
}

body > aside {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 88vh;
}

body > aside img {
  width: 50px;
}

body > aside > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body > aside > div figure {
  background-color: #99a1db;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.7rem;
          column-gap: 0.7rem;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 2rem;
}

body > aside > div figure > span {
  padding: 0.5rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

body > aside > div figure > span img {
  width: 45px;
  height: 45px;
  border-radius: 7px;
}

body > aside > div figure .user-level {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body > aside > div figure .user-level p {
  color: #fff;
}

body > aside > div figure .user-level p:first-child {
  font-weight: 600;
}

body > aside > div figure .user-level p:last-child {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

body > aside > div figure > button {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  justify-self: flex-end;
  background-color: #2f345d;
  color: #fff;
  padding: 0 0.2rem 0 0.25rem;
}

body > aside > div figure > button img {
  width: 10px;
}

body > aside > div ul {
  padding: 0 1.2rem;
}

body > aside > div ul li {
  color: #99a1db;
  margin: 2.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body > aside > div ul li .icon-left-menu img {
  width: 15px;
  margin-right: 0.8rem;
  opacity: 0.5;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body > aside > div ul li:hover {
  color: #fff;
}

body > aside > div ul li:hover .icon-left-menu img {
  opacity: 1;
}

body > aside > button {
  background: none;
  border: none;
  width: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > aside > button img {
  width: 15px;
  margin-right: 1.2rem;
}

body > aside > button span:last-child {
  color: #99a1db;
}

body main {
  width: 80%;
  overflow-y: scroll;
  height: 94vh;
  padding: 0 0.8rem;
}

body main::-webkit-scrollbar {
  height: 0;
  width: 8px;
}

body main::-webkit-scrollbar-thumb {
  background: #0d0f17;
  border-radius: 30px;
}

body main > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  position: fixed;
}

body main > header .left-side-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

body main > header .left-side-header .input-search-container,
body main > header .left-side-header .filter-button {
  border-radius: 5px;
}

body main > header .left-side-header .input-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0d0f17;
  padding: 0.3rem 0.5rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main > header .left-side-header .input-search-container img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  padding: 0.7rem;
  background: #262b3f;
}

body main > header .left-side-header .input-search-container input {
  background: none;
  width: 15rem;
  padding-right: 0.5rem;
  color: #99a1db;
  outline: none;
}

body main > header .left-side-header .input-search-container input::-webkit-input-placeholder {
  color: #99a1db;
  opacity: 0.7;
}

body main > header .left-side-header .input-search-container input:-ms-input-placeholder {
  color: #99a1db;
  opacity: 0.7;
}

body main > header .left-side-header .input-search-container input::-ms-input-placeholder {
  color: #99a1db;
  opacity: 0.7;
}

body main > header .left-side-header .input-search-container input::placeholder {
  color: #99a1db;
  opacity: 0.7;
}

body main > header .left-side-header .filter-button {
  padding: 0.5rem 0.9rem;
  background-color: #444863;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main > header .left-side-header .filter-button:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

body main > header .left-side-header .filter-button img {
  width: 23px;
}

body main > header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

body main > header nav ul li {
  color: #99a1db;
  padding: 0.5rem 0;
  border-bottom: 3px transparent solid;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main > header nav ul li:hover {
  color: #fff;
  border-color: #f47f7f;
}

body main section {
  overflow: hidden;
}

body main section:first-of-type {
  padding-top: 2.5rem;
}

body main section h2 {
  color: #fff;
  margin: 3rem 0 2.5rem 0;
  font-size: 1.5rem;
  -webkit-animation: animateH2 0.5s ease forwards;
          animation: animateH2 0.5s ease forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

@-webkit-keyframes animateH2 {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateH2 {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

body main section .carrousel_container {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

body main section .carrousel_container::-webkit-scrollbar {
  height: 0;
}

body main section .carrousel_container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  padding-right: 1rem;
}

body main section .carrousel_container > div .carroulsel-item {
  width: 25.5rem;
  height: 15rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  -webkit-animation: appearence_animation 0.5s ease forwards;
          animation: appearence_animation 0.5s ease forwards;
}

body main section .carrousel_container > div .carroulsel-item:nth-child(1) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

body main section .carrousel_container > div .carroulsel-item:nth-child(2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

body main section .carrousel_container > div .carroulsel-item:nth-child(3) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}

body main section .carrousel_container > div .carroulsel-item:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body main section .carrousel_container > div .carroulsel-item:nth-child(5) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

@-webkit-keyframes appearence_animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearence_animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

body main section .carrousel_container > div .carroulsel-item header {
  padding: 1.3rem 1.2rem;
}

body main section .carrousel_container > div .carroulsel-item header span {
  background: #ffb983;
  border-radius: 5px;
  padding: 0.5rem 0.6rem;
  font-size: 0.85rem;
}

body main section .carrousel_container > div .carroulsel-item > footer {
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #fff;
  padding: 1rem 1rem 0.5rem 1rem;
}

body main section .carrousel_container > div .carroulsel-item > footer p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

body main section .carrousel_container > div .carroulsel-item > footer > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0.5rem 0;
}

body main section .carrousel_container > div .carroulsel-item > footer > footer img {
  width: 15px;
}

body main section .carrousel_container > div .carroulsel-item > footer > footer span {
  position: relative;
  font-size: 0.85rem;
}

body main section .carrousel_container > div .carroulsel-item > footer > footer span label:first-child {
  position: absolute;
  right: 0;
  bottom: 1.5rem;
  min-width: 46px;
  font-size: 0.8rem;
  text-decoration: line-through;
}

body main section .carrousel_container > div .--good-hood {
  background: url("../images/GodHood-cover.jpg");
  background-size: cover;
  background-position: center;
}

body main section .carrousel_container > div .--civilization-vi {
  background: url("../images/civilization_vi.jpg");
  background-size: cover;
  background-position: center;
}

body main section .carrousel_container > div .--pagan-online {
  background: url("../images/pagan_online.jpg");
  background-size: cover;
  background-position: center;
}

body main section .carrousel-points {
  padding-top: 2.5rem;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: carrousel_point_animation ease 0.5s forwards;
          animation: carrousel_point_animation ease 0.5s forwards;
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes carrousel_point_animation {
  to {
    opacity: 1;
  }
}

@keyframes carrousel_point_animation {
  to {
    opacity: 1;
  }
}

body main section .carrousel-points span {
  width: 3.65rem;
  height: 0.16rem;
  display: block;
  margin: 0 0.8rem;
  background: #424660;
}

body main section .carrousel-points .--active {
  background: #f47f7f;
}

body main .whats_hot .carrousel_container .carroulsel-item {
  width: 18.6em;
  height: 13rem;
  -webkit-animation: appearence_animation 0.5s ease forwards;
          animation: appearence_animation 0.5s ease forwards;
}

body main .whats_hot .carrousel_container .carroulsel-item:nth-child(1) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

body main .whats_hot .carrousel_container .carroulsel-item:nth-child(2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

body main .whats_hot .carrousel_container .carroulsel-item:nth-child(3) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}

body main .whats_hot .carrousel_container .carroulsel-item:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body main .whats_hot .carrousel_container .carroulsel-item:nth-child(5) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

@keyframes appearence_animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

body main .whats_hot .carrousel_container .carroulsel-item > footer {
  height: 5rem;
}

body main .whats_hot .carrousel_container .carroulsel-item > footer p {
  font-size: 0.85rem;
}

body main .whats_hot .carrousel_container .--cyberpunk {
  background: url("../images/Cyberpunk-2077.jpg");
  background-size: cover;
  background-position: center;
}

body main .whats_hot .carrousel_container .--deathgarden {
  background: url("../images/deathgarden.jpg");
  background-size: cover;
  background-position: center;
}

body main .whats_hot .carrousel_container .--dreadbydaylight {
  background: url("../images/dead_by_deathlight.jpg");
  background-size: cover;
  background-position: center;
}

body main .whats_hot .carrousel_container .--hallow-night {
  background: url("../images/hollow_night.jpg");
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */