$button-color: var(--white);

button{
    padding: .6rem .9rem;
    cursor: pointer;
    border-radius: 5px;
    display: grid;
    color: $button-color;
    place-content: center;
    
    &[typeButton="iconButton"]{
        font-size: 1.2rem;
        background-color: #676DFF;
    }
    
    &[typeButton="textButton"]{
        font-size: .8rem;
        background-color: #32CBB7;
    }
}